## Task 1 - SQL

### Build SparkSession:

### Read the json file:

### Display the schema:

### Get all the data when "Model" equal "MacBook Pro":

### Create TempView:

### Display "RAM"column and count "RAM" column:

### Get all columns when "Year" column equal "2015"

### Get all when "Model" start with "M":

### Get all data when "Model" column equal "MacBook Pro"

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

## Task 2

### Read "test1" dataset:

### Display Salary of the people less than or equal to 20000

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

## Task 3

### Read "test3" dataset:

### Display dataset

### Display schema

### Group by "Name" column and using sum function on "Name" column

### Group by "Name" column and using avg function on "Name" column

### Group by "Departments" column and using sum function on "Departments" column

### Group by "Departments" column and using mean function on "Departments" column:

Group by "Departments" column and using count function on "Departments" column:

### Apply agg to using sum function get the total of salaries

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

### OneHotEncoder

###Use VectorAssembler to merge all columns into one column:

### Create a Linear Regression Model

### Creating a Pipeline

### Model Evaluation

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566